body{
     
     background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #101029, #191736, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
     color: aliceblue;
font-family: 'Merriweather', serif;

}

label{
     font-size: 20px;
}

.table-head{
     background-color: rgb(160, 52, 3);
}

.navegacion {
     background:rgba(#010005, #020113, #030213, 0.9); 
     border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
 }


 #my_camera{
     width: 320px;
     height: 240px;
     
    }